h1{
    display:block;
    font-size:24px;
    margin:100px;
    top: 120px;
    left:-50px;
    position:absolute;
}

h1{
    display:block;
    font-size:24px;
    margin:100px;
    top: 120px;
    left:-50px;
    position:absolute;
}

button.voltar{
    position:relative;
    top:400px;
    left: 570px;
    color:#FFF;
    background-color:#9966FF;
    border:none;
    border-radius:5px;
    width:150px;
    height:27px;
    cursor:pointer;
}

button.voltar:hover{
    background-color:#CDB4FE;
}

.sinistro-item{
    position:relative;
    top:300px;
    right:-50px;
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 10px;
    width:640px
}

.editar, .excluir{
    color:#FFF;
    background-color:#9966FF;
    border:none;
    border-radius:5px;
    width:100px;
    cursor: pointer;
}

.editar:hover, .excluir:hover{
    background-color:#CDB4FE;
}